@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="form-group">
        <label for="tb_softwareName" class="font-weight-bold">Nom du site</label>
        <input class="form-control" id="tb_softwareName" placeholder="Entrez le nom du site" />
    </div>
    <label for="div_parameters" class="font-weight-bold">Paramètres</label>
    <div class="container-fluid pt-2 border rounded " id="div_parameters">
        <div class="form-group">
            <label for="sl_typeOfGeneration" class="small">Type de génération de mot de passe</label>
            <select id="sl_typeOfGeneration" class="form-control form-control-sm">
                <option value="1">Simple</option>
                <option value="2">Complexe</option>
            </select>
        </div>
        <div class="form-group">
            <div class="form-row">
                <div class="col-8">
                    <label for="tb_firstHalfOfPassword" class="small">Première partie du mot de passe</label>
                    <div class="input-group">
                        <input type="password" class="form-control form-control-sm" id="tb_firstHalfOfPassword" placeholder="Entrez la première partie du mot de passe" />
                        <div class="input-group-append">
                            <button class="btn btn-secondary btn-sm input-group-button" id="btn_showFirstHalf" value="false">Show</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <label for="tb_specialCharacter" class="small">Caractère spécial</label>
                    <input maxlength="1" class="form-control form-control-sm" id="tb_specialCharacter" placeholder="Entrez un caractère spécial" />
                </div>
                <div class="col">
                    <label for="tb_numberOfNumbers" class="small">Nombre de chiffres max.</label>
                    <input type="number" min="0" class="form-control form-control-sm" id="tb_numberOfNumbers" placeholder="Entrez un nombre" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="cb_rememberPassword" />
                <label class="form-check-label">Ne pas oublier la première partie du mot de passe</label>
            </div>
        </div>

    </div>
    <button class="btn btn-primary mt-3 float-right" id="btn_generatePassword">
        Générer le mot de passe
    </button>
    <div class="collapse fixed-bottom" id="collapseExample">
        <div class="card card-body alert alert-success d-inline-block w-50" style="margin-left:25%">
            <span class="float-left">Le mot de passe généré a été copié dans le presse-papier.</span>
            <button id="btn_hideAlert" type="button" class="close float-right" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>


<script>
    $("#btn_showFirstHalf").click(function () {
        if ($(this).attr("value") == "true") {
            $(this).attr("value", "false");
            $(this).text("Show");
            $("#tb_firstHalfOfPassword").attr("type", "password");
        }
        else {
            $(this).attr("value", "true");
            $(this).text("Hide");
            $("#tb_firstHalfOfPassword").attr("type", "text");
        }
    });

    $("input,select").on("input", function () {
        switch ($(this).attr("id")) {
            case "cb_rememberPassword":
                if ($(this).prop("checked")) {
                    localStorage.setItem($("#tb_firstHalfOfPassword").attr("id"), $("#tb_firstHalfOfPassword").val())
                }
                else {
                    localStorage.setItem($("#tb_firstHalfOfPassword").attr("id"), "")
                }
                localStorage.setItem($(this).attr("id"), $(this).prop("checked"));
                break;
            case "tb_firstHalfOfPassword":
                if (!$("#cb_rememberPassword").prop("checked")) {
                    localStorage.setItem($(this).attr("id"), "");
                    break;
                }
            case "sl_typeOfGeneration":
            case "tb_specialCharacter":
            case "tb_numberOfNumbers":
                localStorage.setItem($(this).attr("id"), $(this).val());
                break;
            default:
                break;
        }
    });

    function FillAllInputs() {
        if (localStorage.getItem("tb_firstHalfOfPassword")) {
            $("#tb_firstHalfOfPassword").val(localStorage.getItem("tb_firstHalfOfPassword"));
        }
        if (localStorage.getItem("tb_specialCharacter")) {
            $("#tb_specialCharacter").val(localStorage.getItem("tb_specialCharacter"));
        }
        if (localStorage.getItem("tb_numberOfNumbers")) {
            $("#tb_numberOfNumbers").val(localStorage.getItem("tb_numberOfNumbers"));
        }
        if (localStorage.getItem("sl_typeOfGeneration")) {
            $("#sl_typeOfGeneration").val(localStorage.getItem("sl_typeOfGeneration"));
        }
        if (localStorage.getItem("cb_rememberPassword")) {
            var boolean = localStorage.getItem("cb_rememberPassword").toLowerCase();
            if (boolean == "true")
                $("#cb_rememberPassword").prop("checked", true);
            else
                $("#cb_rememberPassword").prop("checked", false);
        }
    }

    FillAllInputs();
</script>

<script>
    SimpleIsSelected();

    $("#sl_typeOfGeneration").change(function () {
        SimpleIsSelected();
    });

    $("#btn_generatePassword").click(function () {
        var softwareName = $("#tb_softwareName").val();
        var half = $("#tb_firstHalfOfPassword").val();
        var maxAmountOfNumbers = $("#tb_numberOfNumbers").val();
        var typeOfGeneration = $("#sl_typeOfGeneration").val();
        var generatedPassword = $("#tb_firstHalfOfPassword").val();
        switch (typeOfGeneration) {
            case "1":
                generatedPassword += TransferLettersToNumbers(softwareName.substring(0, 3));
                generatedPassword += softwareName.substring(3, 4).toUpperCase();
                generatedPassword += $("#tb_specialCharacter").val();
                break;
            case "2":
                var numbersLength = "";
                var higher = "";
                if (softwareName.length > half.length)
                    for (var i = 0; i < half.length; i++) {
                        numbersLength += half[i] + softwareName[i];
                    }
                else
                    for (var i = 0; i < softwareName.length; i++) {
                        numbersLength += softwareName[i] + half[i];
                    }
                numbersLength = TransferLettersToNumbers(numbersLength);
                if (maxAmountOfNumbers < numbersLength.length)
                    numbersLength = numbersLength.slice(0, maxAmountOfNumbers);
                generatedPassword += numbersLength;
                generatedPassword += GetMostUsedLetter(softwareName.concat(half));
                generatedPassword += $("#tb_specialCharacter").val();
                break;
            default:
                break;
        }
        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val(generatedPassword).select();
        document.execCommand("copy");
        $temp.remove();
        $('#collapseExample').collapse();
    });

    $("#btn_hideAlert").click(function () {
        $("#collapseExample").collapse("hide");
        $("#collapseExample").collapse("dispose");
    });

    function SimpleIsSelected() {
        if ($("#sl_typeOfGeneration").val() == 1)
            $("#tb_numberOfNumbers").prop("disabled", true);
        else
            $("#tb_numberOfNumbers").prop("disabled", false);
    }

    function GetMostUsedLetter(string) {
        string = string.toUpperCase();
        var letters = new Object();
        var mostUsedLetter = string[0];
        for (var i = 0; i < string.length; i++) {
            var letter = string[i];
            if (letters[letter] != undefined) {
                letters[letter]++;
                if (letters[letter] > letters[mostUsedLetter]) {
                    mostUsedLetter = letter;
                }
            }
            else {
                letters[letter] = 1;
            }
        }
        return mostUsedLetter;
    }

    function TransferLettersToNumbers(letters) {
        var numbers = "";
        const arrayOfChar = letters.toUpperCase().split('');
        for (var i = 0; i < letters.length; i++)
        {
            switch (arrayOfChar[i]) {
                case 'A':
                    numbers += "1";
                    break;
                case 'B':
                    numbers += "2";
                    break;
                case 'C':
                    numbers += "3";
                    break;
                case 'D':
                    numbers += "4";
                    break;
                case 'E':
                    numbers += "5";
                    break;
                case 'F':
                    numbers += "6";
                    break;
                case 'G':
                    numbers += "7";
                    break;
                case 'H':
                    numbers += "8";
                    break;
                case 'I':
                    numbers += "9";
                    break;
                case 'J':
                    numbers += "10";
                    break;
                case 'K':
                    numbers += "11";
                    break;
                case 'L':
                    numbers += "12";
                    break;
                case 'M':
                    numbers += "13";
                    break;
                case 'N':
                    numbers += "14";
                    break;
                case 'O':
                    numbers += "15";
                    break;
                case 'P':
                    numbers += "16";
                    break;
                case 'Q':
                    numbers += "17";
                    break;
                case 'R':
                    numbers += "18";
                    break;
                case 'S':
                    numbers += "19";
                    break;
                case 'T':
                    numbers += "20";
                    break;
                case 'U':
                    numbers += "21";
                    break;
                case 'V':
                    numbers += "22";
                    break;
                case 'W':
                    numbers += "23";
                    break;
                case 'X':
                    numbers += "24";
                    break;
                case 'Y':
                    numbers += "25";
                    break;
                case 'Z':
                    numbers += "26";
                    break;
            }
        }
        return numbers;
    }

    function GenerateSimplePassword(softwareName, firstHalfOfPassword, specialChar) {
        return null;
    }

    function GenerateComplexPassword(softwareName, firstHalfOfPassword, specialChar) {
        return null;
    }
</script>